<div class="banner" style="background-image: url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1> MyLists</h1>
      <p>define your favorite fils in your lists.</p>
      <%= link_to "New List", new_list_path, class: "btn btn-flat", data: {turbo_method: :get}%>
  </div>
</div>


<div class="container">
    <% @lists.each do |list| %>
    <div class="cards">
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= list.name %></h2>
        <p><%= link_to "List", list_path(list), data: {turbo_method: :get} %></p>
        <p><%= link_to "Delete", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></p>
      </div>
    </div>
    </div>
    <% end %>
    <br>
</div>
